flow.json.txt
[{"id":"449b476c.8aa988","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"5a56a0d.925846","type":"ui_form","z":"449b476c.8aa988","name":"","label":"","group":"95b15e92.91d39","order":3,"width":0,"height":0,"options":[{"label":"Enter the input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":280,"wires":[["17437ec7.ca2dd1"]]},{"id":"17437ec7.ca2dd1","type":"function","z":"449b476c.8aa988","name":"","func":"msg.payload = msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":180,"wires":[["1a1e3ab0.106155","8bfaad3c.56dd2"]]},{"id":"1a1e3ab0.106155","type":"watson-conversation-v1","z":"449b476c.8aa988","name":"AssistantBot","workspaceid":"d11e07bf-68ce-4116-aa78-3488296f0e0a","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/5ac74d84-bd69-43a2-a188-3db046b6d238","timeout":"","optout-learning":false,"x":430,"y":100,"wires":[["c87d7d3e.a9987","bd1e1474.480068"]]},{"id":"c87d7d3e.a9987","type":"debug","z":"449b476c.8aa988","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":60,"wires":[]},{"id":"bd1e1474.480068","type":"function","z":"449b476c.8aa988","name":"","func":"msg.payload.text = \"\";\nif(msg.payload.context.webhook_result_1){\n    for(var i in msg.payload.context.webhook_result_1.results){\n        msg.payload.text = msg.payload.text+\"\\n\"+ msg.payload.context.webhook_result_1.results[i].text;\n    }\n    msg.payload = msg.payload.text;\n    \n}\nelse{\n    msg.payload = msg.payload.output.text[0];\n}\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":240,"wires":[["f413de95.dd8d1"]]},{"id":"f413de95.dd8d1","type":"ui_text","z":"449b476c.8aa988","group":"95b15e92.91d39","order":4,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":320,"wires":[]},{"id":"8bfaad3c.56dd2","type":"ui_text","z":"449b476c.8aa988","group":"95b15e92.91d39","order":2,"width":0,"height":0,"name":"","label":"input","format":"{{msg.payload}}","layout":"row-spread","x":350,"y":320,"wires":[]},{"id":"95b15e92.91d39","type":"ui_group","z":"","name":"GroupsDetails","tab":"463675ef.0eee1c","order":1,"disp":true,"width":"6","collapse":false},{"id":"463675ef.0eee1c","type":"ui_tab","z":"","name":"MyAssistant","icon":"dashboard","disabled":false,"hidden":false}]